@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 2.2vw;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 2vw;
  color:#011113;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 1.8vw;
  color:#011113;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: 1.6vw;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-size: 1.4vw;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-size: 1.2vw;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}
ul{
  padding-inline-start: 0px;
  list-style-type: none;
}
.App {
  text-align: center;
}
.Home{
  height: 100%;
  width: 100%;
}
.portfolio{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leftSide{
  background-color: #011113;
  color: aliceblue;
  font-size: 2.1vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: 800;
}
.rightSide{
  background-color: #02343c;
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3% 3%;
}
.nav{
  padding: 2%;
}
.nav:hover{
  color: #FFFF4D;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -ms-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
}
.nav.active {
  color: #FFFF4D;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #FFFF4D;
  padding-top: 55px;
}
.icon{
  padding-left: 15px;
  padding-right: 15px;
}
.icon:hover{
  color: #FFFF4D;
}
.tile{
  background-color: #d8f3ea;
  opacity: 80%;
  -webkit-box-shadow: 5px 5px 0px 1px rgba(18, 43, 33, 1);
  -moz-box-shadow: 5px 5px 0px 1px rgba(18, 43, 33, 1);
  box-shadow: 5px 5px 0px 1px rgba(18, 43, 33, 1);
  padding: 1%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 13vw;
  margin-top: 2vh;
}
.black-icon {
  color: black;
  font-size: 18px;
  margin-left: 4px;
  margin-right: 4px;
}
.location{
  display: flex;
  margin-top: 0.3rem;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.picture{
  display: flex;
  border: #011113 2px solid;
}
.picture img{
  max-height: 11vw;
  align-items: center;
}